<section class="container-cards" aria-label="Cards de beneficios!">
  <div class="fade-event" data-aos="fade-right">
    <h1 class="font-bold text-5xl text-slate-950">Solução para todas as empresas</h1>
    <p class="text-slate-600 p-text text-lg">Empresas de todos os portes impulsionam seu crescimento com nossa plataforma inteligente de gestão e conhecimento empresarial.</p>
  </div>
  <swiper-container init="false" class="mySwiper" data-aos="fade-left">
    <swiper-slide>
      <div class="card">
        <h3 class="font-bold text-xl mt-12 text-slate-950 poppins">Capacitação Empresarial</h3>
        <p class="mt-8 roboto text-slate-600 font-normal text-xl">Desenvolva equipes mais preparadas com trilhas de conhecimento criadas para impulsionar resultados. Cursos, certificações e conteúdos práticos em um só lugar.</p>
        <div class="line mt-10"></div>
        <div class="icons mt-14">
          <img class="icon" src="icons/estudar.png" alt="Ícone de capacitação" />
          <img class="icon" src="icons/graduacao.png" alt="Ícone de crescimento" />
          <img class="icon" src="icons/study.png" alt="Ícone de aprendizado" />
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <h3 class="font-bold text-xl mt-12 text-slate-950 poppins">Transformação Digital</h3>
        <p class="mt-8 roboto text-slate-600 font-normal text-xl">Acelere sua empresa com ferramentas e estratégias que conectam pessoas, processos e tecnologia. Do planejamento à execução, tudo em um único ecossistema.</p>
        <div class="line mt-10"></div>
        <div class="icons mt-14">
          <img class="icon" src="icons/tecnologia.png" alt="Ícone de capacitação" />
          <img class="icon" src="icons/lasca.png" alt="Ícone de crescimento" />
          <img class="icon" src="icons/tecnica.png" alt="Ícone de aprendizado" />
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <h3 class="font-bold text-xl mt-12 text-slate-950 poppins">Gestão Inteligente</h3>
        <p class="mt-8 roboto text-slate-600 font-normal text-xl">Monitore desempenho, identifique oportunidades e tome decisões com base em dados. Uma plataforma que une aprendizado e eficiência operacional.</p>
        <div class="line mt-10"></div>
        <div class="icons mt-14">
          <img class="icon" src="icons/tecnologia.png" alt="Ícone de capacitação" />
          <img class="icon" src="icons/lasca.png" alt="Ícone de crescimento" />
          <img class="icon" src="icons/tecnica.png" alt="Ícone de aprendizado" />
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <h3 class="font-bold text-xl mt-12 text-slate-950 poppins">Comunidade e Networking</h3>
        <p class="mt-8 roboto text-slate-600 font-normal text-xl">Conecte-se a profissionais, mentores e da sua empresas de diversos setores. Compartilhe experiências, desafios e soluções reais de mercado.</p>
        <div class="line mt-10"></div>
        <div class="icons mt-14">
          <img class="icon" src="icons/tecnologia.png" alt="Ícone de capacitação" />
          <img class="icon" src="icons/lasca.png" alt="Ícone de crescimento" />
          <img class="icon" src="icons/tecnica.png" alt="Ícone de aprendizado" />
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card">
        <h3 class="font-bold text-xl mt-12 text-slate-950 poppins">Inovação e Crescimento</h3>
        <p class="mt-8 roboto text-slate-600 font-normal text-xl">Transforme ideias em resultados com apoio de especialistas, cases de sucesso e ferramentas de inovação contínua.</p>
        <div class="line mt-10"></div>
        <div class="icons mt-14">
          <img class="icon" src="icons/tecnologia.png" alt="Ícone de capacitação" />
          <img class="icon" src="icons/lasca.png" alt="Ícone de crescimento" />
          <img class="icon" src="icons/tecnica.png" alt="Ícone de aprendizado" />
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>