<header class="header">
  <div class="header-container flex justify-between top-5 content-center">
    <h1 class="text-red-500 text-2xl text-violet-50 font-semibold hover:text-violet-100 cursor-pointer p-2">BrainStrategy</h1>
    <nav class="flex gap-12">
      <a class="text-violet-50 text-lg hover:text-violet-200 cursor-pointer p-2 font-medium" routerLink="/Densenvolvedores" routerLinkActive="active-link">Densenvolvedores</a>
      <a class="text-violet-50 text-lg hover:text-violet-200 cursor-pointer p-2 font-medium" routerLink="/Sobre" routerLinkActive="active-link">Sobre</a>
      <a class="text-violet-50 text-lg hover:text-violet-200 cursor-pointer p-2 font-medium" routerLink="/Contato" routerLinkActive="active-link">Contato</a>
    </nav>
    <div class="right-button flex items-center">
      <button class="group flex items-center gap-1 px-4 py-2 rounded-md text-violet-50 font-medium transition-colors duration-500">
        Entrar
        <span class="relative w-5 h-5 flex items-center justify-center">
          <svg class="absolute w-5 h-5 transition-opacity duration-300 opacity-100 group-hover:opacity-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
          <svg class="absolute w-5 h-5 transition-opacity duration-300 opacity-0 group-hover:opacity-100" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 5l7 7-7 7" />
          </svg>
        </span>
      </button>

      <button mat-flat-button class="group flex items-center px-4 py-2 rounded-md font-medium transition-colors duration-500 rounded-3xl bg-violet-200 !bg-violet-200 opacity-90">
        <div class="flex items-center gap-1">
          <span class="gradient-text-animated text-lg">Fale conosco</span>
          <span class="relative w-5 h-5 flex items-center justify-center">
            <svg class="absolute w-5 h-5 transition-opacity duration-300 opacity-100 group-hover:opacity-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
            <svg class="absolute w-5 h-5 transition-opacity duration-300 opacity-0 group-hover:opacity-100" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 5l7 7-7 7" />
            </svg>
          </span>
        </div>
      </button>
    </div>
  </div>
</header>