<div class="aprendizados">
  <div class="title-aprendizados">
    <h1>{{ aprendizado.title }}</h1>
    <div class="etiqueta">
      <mat-icon class="icon">sell</mat-icon>
      <p>{{ aprendizado.category_name }}</p>
    </div>
  </div>
  <div class="more-infos">
    <h2>{{ aprendizado.learning_type }}</h2>
    <p class="description">{{ aprendizado.summary }}</p>
    <div class="line"></div>
    <div class="curse-infos">
      <div class="flex gap-2">
        <mat-icon>person</mat-icon>
        <p>{{ aprendizado.created_by }}</p>
      </div>
      <div class="flex gap-2">
        <mat-icon>calendar_month</mat-icon>
        <p>{{ aprendizado.created_at | date: 'dd/MM/yyyy' }}</p>
      </div>
      <div class="flex gap-2">
        <mat-icon>schedule</mat-icon>
        <p>{{ aprendizado.reading_duration }}</p>
      </div>
    </div>
  </div>

</div>