<div class="aprendizados">
  <div class="title-aprendizados">
    <h1>Titulo do aprendizado aqui</h1>
    <div class="etiqueta">
      <mat-icon class="icon">sell</mat-icon>
      <p>categoria</p>
    </div>
  </div>
  <div class="more-infos">
    <h2>Tipo</h2>
    <p class="description">Descrição</p>
    <div class="line"></div>
    <div class="curse-infos">
      <div class="flex gap-2">
        <mat-icon>person</mat-icon>
        <p>nome da pessoa</p>
      </div>
      <div class="flex gap-2">
        <mat-icon>calendar_month</mat-icon>
        <p>data do aprendizado</p>
      </div>
      <div class="flex gap-2">
        <mat-icon>schedule</mat-icon>
        <p>duracao do aprendizado</p>
      </div>
    </div>
  </div>

</div>