<app-gradient class="gradient"></app-gradient>
<section class="banner" data-aos="fade-left">
  <img src="imgs/banner-female-three.png" alt="Banner de uma mulher olhando para o lado">
</section>

<div data-aos="fade-up" data-aos-duration="1500">
  <h1>Animação com duração de 1.5 segundos</h1>
</div>

<div data-aos="zoom-in" data-aos-delay="300">
  <img src="imgs/banner-female-three.png" alt="Imagem" data-aos-duration="2000">
</div>

<div data-aos="zoom-in" data-aos-delay="300">
  <img src="imgs/banner-female-three.png" alt="Imagem" data-aos-duration="2000">
</div>