<div class="card-home-infos" data-aos="fade-up" data-aos-duration="1500">
  <h1 class="text-2xl text-purple-500 font-medium">Solução inovadora</h1>
  <div class="infos-text">
    <h2 class="text-7xl font-bold text-slate-950">
      Transforme o conhecimento da sua equipe em vantagem competitiva.
    </h2>
    <p class="text-lg font-medium text-slate-500">Centralize, compartilhe e evolua o saber coletivo da sua empresa em uma única plataforma. Torne o conhecimento tácito em explícito, documente projetos, registre aprendizados e encontre com facilidade tudo o que já foi criado — impulsionando colaboração, inovação e eficiência em cada equipe.</p>
  </div>
</div>