<div class="container-principal">

  <button [routerLink]="['/dashboard']" class="flex gap-2 voltar">
    <mat-icon>arrow_back</mat-icon>
    Voltar</button>
  <section class="main-content">
    <div class="left-content">

      <iframe width="950" height="615" src="https://www.youtube.com/embed/lUVureR5GqI?si=FIITxFhIUFdGZeiL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <div class="tabs">
        <mat-tab-group>
          <mat-tab label="Descrição">
            <p class="roboto mt-4">Este tem como objetivo ensinar a criar uma aplicação Fullstack do 0</p>
          </mat-tab>
          <mat-tab label="Observação">
            <p class="roboto mt-4">É necessario ter conhecimentos em desenvolvimento web</p>
          </mat-tab>
          <mat-tab label="Perguntas e Respostas">
            <p class="roboto mt-4">Duvidas? deixe seu comentario</p>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div>
      <h1 class="mb-6 roboto text-xl font-semibold">todos os videos</h1>
      <div class="right-content">
        <iframe width="200" height="100" src="https://www.youtube.com/embed/WHruc3_2z68?si=lOd8l3H9fJzCd4Lu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="titles">
          <h1 class="poppins font-semibold text-sm text-slate-900">Criando Aplicação Fullstack do Zero - pt 2</h1>
          <p class="roboto professor">professora: Fernanda Kipper</p>
        </div>
      </div>
    </div>

  </section>
</div>